<main class="holder contacto">
<div>
            <h2>Contacto Rápido</h2>
            <form action="" method="" class="formulario">
                <p>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="" />
                </p>
                <p>
                    <label for="telefono">Teléfono</label>
                    <input type="text" name="" />
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="text" name="" />
                </p>
                <p>
                    <label for="mensaje">Mensaje</label>
                    <textarea name="" id="" cols="20" rows="3"></textarea>
                </p>
                <p class="acciones"><input type="submit" value="Enviar"></p>
            </form>
        </div>
        <div class="datos">
            <h2>Otras vias de comunicación</h2>
            <p>También puede contactarse con nosotros usando los siguientes medios.</p>
            <ul>
                <li>Teléfono: 1144444223</li>
                <li>Email: realcom1@hotmail.com</li>
                <li>Whatsapp: 1144444223</li>
                <li>Instagram: realcom_computacion</li>
            </ul>
        </div>
        </main>