<div class="homeimg">
            <img src="images/home/homesoke.png" alt="Hatsumi">
            <video src="videos/videos1.mp4"></video>
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h3>Bienvenidos</h3>
                <p>Bienvenidos a Bujinkan Aronno dojo donde encontraras todo acerca de este milenario arte japones. No
                    dejes de navegar en la pagina y consultarnos tus iquietudes. Tambien puedes entrar a nuestras redes
                    sociales.</p>

            </div>
            <div class="instructor">
                <h3>Instructor</h3>
                <p>Dai Shihan Pablo D Aronno. Con 28 años de practica, numerosos viajes a
                    japon y taikai.</p>
            </div>
        </div>