<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bujinkan Aronno Dojo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/sbujinkan.css">
</head>

<body>
    <header>
        <div style="background-image: url(images/home/retazo.jpg);">
            <div class="holder">
                <div class="inicio">
                    <img src="/images/logo.png" width="100" alt="Bujinkan Aronno Dojo">
                    <h1>Bujinkan Aronno Dojo</h1>
                    <img src="/images/home/seigan2.png" width="80" alt="seigan">
                </div>
            </div>
        </div>
    </header>
    <nav>
        <ul class="holder">
            <li><a class="{{#if isHome}}activo{{/if}}" href="/">Home</a></li>
            <li><a class="{{#if isBujinkan}}activo{{/if}}" href="/bujinkan">Bujinkan</a></li>
            <li><a class="{{#if isEscuelas}}activo{{/if}}" href="/escuelas">Escuelas</a></li>
            <li><a class="{{#if isNovedades}}activo{{/if}}" href="/novedades">Novedades</a></li>
            <li><a class="{{#if isContacto}}activo{{/if}}" href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <main class="holder">
    {{{body}}}
    </main>
      <footer>
        <p>* Diseñado por RealcomWeb *</p>
    </footer>
  </body>
</html>
