<div class="novedades">
            <img src="images/novedades/taikaicba.jpg" width="200" alt="taikaicba">
            <div class="info">
                <h4>Seminario Taikai Cordoba</h4>
                <p>19 y 20 de Agosto 2023. Abonando hasta el 10/07 con membership U$80 sin membership U$100 incluye
                    Alojamiento del sabado - Almuerzo del sabado - Merienda del sabado - Cena del sabado - Desaynuno del domingo + clase del viernes 18.
                    Abonando hasta el 10/08 no incluye la clase del viernes.
                </p>
            </div>
        </div>
        <div class="novedades">
            <img src="images/novedades/taikaitandil.jpg" width="200" alt="taikaitandil">
            <div class="info">
                <h4>Seminario Taikai Tandil</h4>
                <p>11 y 12 de Noviembre 2023. Dictado por el Daishihan Nestor A. Iscovi. Proximamente mas info.</p>
            </div>
        </div>